<title>{{ tool_name }} – {{ org_name }}</title>
<meta property="og:type" content="website">
<meta property="og:title" content="{{ tool_name }}">
<meta property="og:site_name" content="{{ org_name }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ social_image }}">
<meta name="twitter:title" content="{{ tool_name }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ social_image }}">
