KC_URL=
KC_REALM=
KC_ADMIN_CLIENT_ID=
KC_ADMIN_CLIENT_SECRET=
KC_REALM_URL=${KC_URL}/realms/${KC_REALM}
KC_REALM_ADMIN_URL=${KC_URL}/admin/realms/${KC_REALM}
AUTH_URL=${KC_REALM_URL}/protocol/openid-connect/auth
TOKEN_URL=${KC_REALM_URL}/protocol/openid-connect/token
CERTS_URL=${KC_REALM_URL}/protocol/openid-connect/certs
AUTH_CLIENT=
INST_DB_NAME=
INST_DB_USER=
INST_DB_PWD=
INST_DB_HOST=
INST_DB_SCHEMA=
# INST_DB_SCHEME This can be added if needing to override the default of 'postgresql+asyncpg'