// Import external dependencies

@import '../../cf-core/src/cf-core.less';

/* ==========================================================================
   Capital Framework
   <%= componentName %> Styling
   ========================================================================== */

/* topdoc
  name: Section name
  family:
  notes:
    - "Some notes about this chunk of code."
  patterns:
  - name: Pattern Name
  tags:
  - less
*/




















/* topdoc
  name: EOF
  eof: true
*/
