<div class="o-form_group">
    <div class="m-form-field">
        <label class="a-label a-label__heading">
            Your link
        </label>
        <pre data-app-save-link="save-and-finish" aria-label="Your link"></pre>
        <button class="a-btn u-mt15 copy-your-link" aria-live="polite">
            <span class="default-text">Copy<span class="u-visually-hidden">your link to the clipboard</span></span>
            <span class="success-text u-hidden"><span class="u-visually-hidden">Your link was </span>Copied!</span>
        </button>
    </div>
</div>
