<a class="skip-link u-visually-hidden focusable" href="#main">Skip to Main Content</a>
<header role="banner" class="site-header">

  <div class="block block__flush-top block__flush-bottom block__padded-bottom">
    <div class="m-global-banner">
     <div class="wrapper wrapper__match-content">
       <div class="m-notification m-notification__warning m-notification__visible">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1200" class="cf-icon-svg"><path d="M500 105.2c-276.1 0-500 223.9-500 500s223.9 500 500 500 500-223.9 500-500-223.9-500-500-500zm-49.7 234.6c0-27.6 22.4-50 50-50s50 22.4 50 50v328.6c0 27.6-22.4 50-50 50s-50-22.4-50-50V339.8zm50 582.5c-39.6 0-71.7-32.1-71.7-71.7s32.1-71.7 71.7-71.7S572 811 572 850.6s-32.1 71.7-71.7 71.7z"></path></svg>
         <div class="m-notification_content">
           <div class="h4 m-notification_message">This site is deprecated.</div>
           <p class="m-notification_explanation">
             This site is a snapshot of content formerly maintained at
             <a href="https://github.com/cfpb/capital-framework">https://github.com/cfpb/capital-framework</a>.
           </p>
           <p class="m-notification_explanation">
             That site will no longer be updated and future updates will happen at
             <a href="https://cfpb.github.io/design-system/">https://cfpb.github.io/design-system</a>.
           </p>
         </div>
       </div>
     </div>
   </div>
  </div>

  <div class="wrapper">
    <div class="title content-l_col content-l_col-1-3">
      <h1 class="title_heading">
        <a class="title-link" href="{{ '/' | relative_url }}">
          <span class="demi">Capital</span>Framework
        </a>
      </h1>
    </div>
    <nav class="global-nav content-l_col content-l_col-2-3">
      <ul class="global-nav_list">
        {% for link in site.data.nav %}
          <li class="nav-list-item"><a href="{{ link.href | relative_url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div> <!-- /.wrapper -->
</header>
