@import "../helpers/_variables.scss";

.grouped-row {

    // Axes
    .x-axis-group path {
        display: none;
    }
    .y-axis-group path {

    }

    .y-axis-group {
        .tick {
            text {
                font-size: 14px;
            }
        }
        .adjust-upwards {
            transform: translate(0, -10px);
        }
    }


    .tick line,
    .tick line {
        display: none;
    }

    .chart-group {
        .group-background {
            fill: #e7e8e9;
            fill-opacity: .4;
        }
    }
}
