@import "../helpers/_variables.scss";

$row-color: desaturate($bc-green, 20%);
$row-color-hover: $bc-e-green-600;
$row-stroke-width: 0;

.row-chart {
    // Rows
    .row {
        shape-rendering: crispEdges;
    }
    g.row-wrapper {
        cursor: pointer;
        &:hover {
            .bg-hover {
                fill-opacity: 1;
            }
        }
    }
    .y-axis-group {
        .tick {
            text {
                font-size: 16px;
                &.print-mode {
                    font-size: 18px;
                }
            }
        }
    }
    // Axes
    .axis {
        path.domain {
            display: none;
        }
    }
    .tick {
        line {
            display: none;
        }
    }
    .adjust-upwards {
        transform: translate(0, -10px);
    }
    .percentage-label {
        fill: $grey-600;
    }
    .view-more-group {
        .view-more-background {
            fill: aqua;
        }
        .view-more-label {
            font-weight: bold;
            text-anchor: end;
        }
    }
}
